body {
  background-color: rebeccapurple;
  border: 0; /* Removes the default white border */
}

.red-box {
  width: 100px;
  height: 100px;
  background-color: red;
}

.blue-box {
  width: 300px;
  height: 400px;
  background-color: blue;
  border: 2px solid red;
}

.green-box {
  width: 250px;
  height: 600px;
  background-color: green;
  border-radius: 6px;
}

h1 {
  width: 400px;
  text-align: center;
  color: white;
}

h2 {
  width: 800px;
  text-align: right;
  color: orange;   

}